*{
    padding: 0;
    margin: 0;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px 0px 20px;
    font-size: 1.3rem;
    font-family: 'Time Square', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(150, 192, 188);
}

.right{
    display: flex;
    justify-content: space-between;
}
.about{
    margin: 0px 20px 0px 20px;
}